export SERVER_PORT=SERVER_PORT
export DATABASE_NAME=DATABASE_NAME
export DATABASE_USERNAME=DATABASE_USERNAME
export DATABASE_PASSWORD=DATABASE_PASSWORD
export DATABASE_HOST=DATABASE_HOST
export DATABASE_PORT=DATABASE_PORT
export DATABASE_MAX_OPENS_CONNS=DATABASE_MAX_OPENS_CONNS
export DATABASE_MAX_IDLE_CONNS=DATABASE_MAX_IDLE_CONNS

source ./.env